
.sidebar-nav .container{
    
}


.sidebar-nav ul li a {
    font-size: 26px;
    text-decoration:none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
    color: aliceblue;

}
.sidebar-nav ul li a :hover {
    background-color:black;
    border-radius: 4px;

} 
.sidebar-nav .offcanvas{
    width: 220px;
    border: none;
}
.sidebar-nav .offcanvas ul li a span{
    font-size: 15px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}


.sidebar-nav .dropdown-toggle::after{
    position: relative;
    top: 3px;
}
.dropdown .btn{
    border: none;
    background-color: none;

}

.dropdown .btn:hover{
    background-color: black;
    border-radius: 4px;
}

.dropdown ul{
    background-color: ;

}
.dropdown ul li a{
    font-size: 14px;
    position: relative;
    top: -4px;
    transition: 0.5s;
    }
.dropdown ul li a:hover{
    background-color:black;
    border-radius: 4px;
    color: aliceblue;
}
.dropdown .offcanvas.show ul li a:hover span{
    padding-left: 10px;
}

.heading{
 font-size: 14px;
 text-align: right;

}
.paragraph{
    font-size: 13px;
    margin: 1px;

}
table{
    border: 1px solid black;
    

    
}
table,th,td{
    font-size: 10px;
    border: 1px solid black;
}
.bb{
    text-align: right;
    padding: auto;
} 


.div1 {
    width: 1130px;
    height: 400px;
    overflow: scroll;
    border: 1px solid #777777;
}


  
  .div1 table {
    border-spacing: 0;
    width: 100%;
  }
  
  .div1 th {
    border-left: none;
    border-right: 1px solid black;
    padding: 5px;
    width: 80px;
    min-width: 80px;
    position: sticky;
   
    top: 0;
    background: gray;
    color:white;
    font-weight: normal;
  }
  
  .div1 td {
    border-left:1px solid black ;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 80px;
    min-width: 80px;
  }
  
  .div1 th:nth-child(1),
  .div1 td:nth-child(1) {
    position: sticky;
    left: 0;
    width: 150px;
    min-width: 150px;
    border-left: 1px solid black;
  }
  
 
  
.div1 td:nth-child(1)
   {
    background: linen;
  }
  
  .div1 th:nth-child(1)
   {
    z-index: 2;
  }
   
    
    
















